In [1]:
# Libraries
import pandas as pd

In [2]:
# Constant Variables
# Filenames
CLEANED_REAL_TIME_DATA_FILENAME = 'cleaned_real_time_data.json'

In [3]:
# Read the data frame from a json file
df = pd.read_json(CLEANED_REAL_TIME_DATA_FILENAME, convert_dates=['RecordedDateTime'])
df

      RouteNo Direction   Latitude   Longitude    RecordedDateTime
0         144     NORTH  49.225150 -123.002100 2024-04-07 07:00:07
1         144     NORTH  49.225700 -122.994100 2024-04-07 07:03:23
2         144     NORTH  49.229850 -122.992800 2024-04-07 07:04:45
3         144     NORTH  49.229650 -122.987017 2024-04-07 07:05:43
4         144     NORTH  49.229450 -122.975800 2024-04-07 07:06:43
...       ...       ...        ...         ...                 ...
49303      R5      EAST  49.285700 -123.114283 2024-04-09 22:59:26
49304      R5      EAST  49.276733 -122.944833 2024-04-09 22:59:37
49305      R5      WEST  49.281050 -123.000083 2024-04-09 22:59:08
49306      R5      WEST  49.285333 -123.115900 2024-04-09 22:59:37
49307      R5      EAST  49.281050 -123.043017 2024-04-09 22:59:22

[49308 rows x 5 columns]